header.header
    .header__column
        a(href=routes.home)
            | Bikers
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search", name="term")
    if !loggedUser    
        .header__column.drop-down#jsDropDown
            i.xi-bars.dropBtns
            ul.header__unknown-user-nav.drop-down-content#jsDropDownContent
                li#jsDropDownList
                    a(href=routes.join) Join
                li#jsDropDownList
                    a(href=routes.login) Login
    else
        ul.header__logged-in-user-nav
            li
                a(href=`/photos${routes.upload}`) 
                    i.xi-plus-square-o
            li
                a(href=routes.me)
                    img.avatar#userAvatar(src=loggedUser.avatarUrl.includes('http') ? loggedUser.avatarUrl : `../../${loggedUser.avatarUrl}`)
                    #jsUserInfo
                        span#userName=loggedUser.name
                        span#userId=loggedUser.id