extends layouts/main.pug
include ./mixins/commentBlock.pug

block content
    .photo-detail__container
        .photo-detail__info
            a.author-info(href=routes.userDetail(photo.creator.id))
                img.author-avatar(src=`${photo.creator.avatarUrl.includes("https") ? photo.creator.avatarUrl : `../${photo.creator.avatarUrl}`}`)
                span.author-name=photo.creator.name
            .author-location=photo.location.name
            h6.photo__description=photo.description
        .photo-detail__img#jsPhotoDetailCarousel
            .carousel__container
                .carousel__img-list
                    each item in photo.fileUrl
                        img.carousel__photo(src=`../${item}`, alt="Photo")
                i.carousel__prev-i.xi-arrow-left.carousel__btn-hide
                i.carousel__next-i.xi-arrow-right.carousel__btn-show
        .photo-detail__input
            if loggedUser
                form.add-comment-form#jsAddComment
                    img.author-avatar(src=user.avatarUrl.includes("http") ? user.avatarUrl : `../${user.avatarUrl}`)#jsAvatarElement
                    input(type="text", placeholder="Add a Comment")
        ul.photoDetail__coments-list#jsCommentList
            #jsFakeBlock.hide-element
                .commentBlock__column
                    a.commentBlock__link(href=routes.me)
                        img.author-avatar
                .commentBlock__column
                    .commentBlock__contents
                        span.author-name
                        span.text#jsCurrentComment.show-element
                    form.commentBlock__edit-form#jsEditCommentForm.hide-element
                        input(type="text")
                    if loggedUser && photo.comments
                        .commentBlock__icons
                            a(href="")#jsEditComment.show-element
                                span edit
                            a(href="")#jsDeleteComment.show-element
                                span delete
            each item in photo.comments.reverse()
                +commentBlock({
                creatorId: item.creatorId,
                creatorAvatar: item.creatorAvatar,
                creatorName: item.creatorName,
                text: item.text,
                _id: item._id
            })
        .info__comments-number
            if photo.comments.length === 1 || 0
                span.comments__comment-number#jsCommentNumber=photo.comments.length
                | comment
            else
                span.comments__comment-number#jsCommentNumber=photo.comments.length 
                | comments