extends layouts/main.pug

block content
    .photo-detail__container
        .photo-detail__img
            img(src=`/${photo.fileUrl}`, alt="Photo")
        .photo-detail__info
            .photo__author
                a(href=routes.userDetail(photo.creator.id))
                    img.author-avatar(src=`${photo.creator.avatarUrl.includes("https") ? photo.creator.avatarUrl : `../${photo.creator.avatarUrl}`}`)
                    .author-name=photo.creator.name
                .author-edit
                    if loggedUser && photo.creator.id === loggedUser.id
                        a(href=routes.editPhoto(photo.id)) Edit
            p.photo__description=photo.description
            .photo__comments
                if photo.comments.length === 1 || 0
                    span.photo__comment-number #{photo.comments.length} comment
                else
                    span.photo__comment-number #{photo.comments.length} comments
        .photo-detail__input.add-comment
            input(type="text", placeholder="Add a Comment")