extends layouts/main.pug

block content
    .photo-detail__container
        .photo-detail__img
            img(src=`/${photo.fileUrl}`, alt="Photo")
        .photo-detail__info
            .photo__author
                a(href=routes.userDetail(photo.creator.id))
                    img.author-avatar(src=`${photo.creator.avatarUrl.includes("https") ? photo.creator.avatarUrl : `../${photo.creator.avatarUrl}`}`)
                    .author-name=photo.creator.name
                .author-edit
                    if loggedUser && photo.creator.id === loggedUser.id
                        a(href=routes.editPhoto(photo.id)) Edit
            p.photo__description=photo.description
            .photo__comments
                if photo.comments.length === 1 || 0
                    span.photo__comment-number#jsCommentNumber=photo.comments.length
                    |comment
                else
                    span.photo__comment-number#jsCommentNumber=photo.comments.length 
                    |comments
        .photo-detail__input
            form.add__comment#jsAddComment
                input(type="text", placeholder="Add a Comment")
            ul.photo__coments-list#jsCommentList
                each comment in photo.comments.reverse()
                    li
                        a(href=routes.userDetail(comment.creatorId))
                            img(src=comment.creatorAvatar)
                            span=comment.creatorName
                        span#jsCurrentComment.show-element=comment.text
                        form#jsEditCommentForm.hide-element
                                input(type="text", value=comment.text)
                        if loggedUser && comment.creatorId == loggedUser.id
                            a(href=`/api${routes.editComment(comment._id)}`)#jsEditComment.show-element
                                i.xi-pen-o
                            a(href=routes.deleteComment(comment._id))
                                i.xi-close-circle-o