extends layouts/main.pug
include mixins/photoBlock.pug

block content
    .user-profile
        .user-profile__header
            .header__user-info
                img.avatar(src=user.avatarUrl.includes("http")? user.avatarUrl : `../${user.avatarUrl}`)
                h4=user.name
            .header__nav
                if loggedUser && user.id === loggedUser.id
                    a(href=`/users${routes.editProfile}`)
                        button Edit Profile
                    if !loggedUser.googleId||loggedUser.kakaoId||loggedUser.naverId
                        a(href=`/users${routes.changePassword}`)
                            button Change Password
                    a(href=routes.logout)
                        button Logout
        .user-profile__photo-container
            each item in user.photos
                .photo-container__photo
                    img(src=`../../${item.fileUrl[0]}`)
                    .photo__likes=item.likes.length
        .user-profile__map
            #jsUserDetailMap