extends layouts/main.pug
include mixins/photoBlock.pug

block content
    .user-profile__wrapper
        .user-profile__header
            .user-info
                img.profile-avatar(src=user.avatarUrl.includes("http")? user.avatarUrl : `../${user.avatarUrl}`)
                h4.profile__username=user.name
            if loggedUser && user.id === loggedUser.id
                .user-profile__btns
                    a(href=`/users${routes.editProfile}`)
                        button Edit Profile
                    if !loggedUser.googleId||loggedUser.kakaoId||loggedUser.naverId
                        a(href=`/users${routes.changePassword}`)
                            button Change Password
                    a(href=routes.logout)
                        button Logout
        .user-profile__photos
            each item in user.photos
                .profile__img
                    img(src=`../../${item.fileUrl[0]}`)
                    .photo-comments-number
                        .number=item.comments.length
        .user-profile__map
            #userDetailMap
            if(userLocations)
                #userData