extends layouts/main.pug

block content
    .upload
        #map
            #jsInfoWindow
                #jsPlaceName
                #jsPlaceAddress
        .form__container
            form#jsUploadFile(action=`/photos${routes.upload}`, method="post", enctype="multipart/form-data")
                .search-location
                    input#search-location__input(type="text", placeholder="위치 검색하기")
                label(for="file") 
                    i.xi-camera-o
                    span Click to choose photo
                input#jsCoordinates(type="text", name="location", value="")
                input(type="file", multiple, id="file", name="file", required=true, accept="image/*")
                .preview-container
                    textarea(placeholder="description", name="description", required=true, cols="37", rows="10")
                    #jsFileList.upload__preview
                input(type="submit", value="Upload Photo")
    script(src=`https://maps.googleapis.com/maps/api/js?key=${env.GOOGLE_MAP_KEY}&map_ids=${env.MAP_ID}&region=kr&libraries=places`)