extends layouts/main.pug
include mixins/photoBlock.pug

block content
    .user-profile
        .user-profile__header
            .header__user-info
                img.profile--avatar(src=user.avatarUrl)
                h4.profile--name=user.name
            .header__nav
                a.nav__column(href=`/users/${user.id}/photos`)
                    i.xi-camera
                .nav__column
                    i.xi-maker=user.locations.length
        .user-profile__map
            #jsUserDetailMap
    script(src=`https://maps.googleapis.com/maps/api/js?key=${env.GOOGLE_MAP_KEY}&map_ids=${env.MAP_ID}&region=kr&libraries=places`)