mixin commentBlock(comment = {})
    li.commentBlock#jsDropDownList
        .commentBlock__column
            a.commentBlock__link(href=routes.userDetail(comment.creatorId))
                img.author--avatar(src=comment.creatorAvatar.includes("http") ? comment.creatorAvatar : `../${comment.creatorAvatar }`)
        .commentBlock__column
            .commentBlock__contents
                span.author--name=comment.creatorName
                span.text#jsCurrentComment.show-element=comment.text
            .commentBlock__timestamp#jsTimestamp=comment.createdAt
            form.commentBlock__edit-form#jsEditCommentForm.hide-element
                input(type="text", value=comment.text)
            if loggedUser && comment.creatorId == loggedUser.id
                .commentBlock__icons
                    a(href=`/api${routes.editComment(comment._id)}`)#jsEditComment.show-element
                        span edit
                    a(href=`/api${routes.deleteComment(comment._id)}`)#jsDeleteComment.show-element
                        span delete