include commentBlock.pug

mixin photoBlock(photo = {})
    .photo-block
        .photo-block__info
            a.info__author(href=routes.userDetail(photo.creatorId))
                img.author--avatar(src=photo.avatarUrl.includes("http") ? photo.avatarUrl : `../../${photo.avatarUrl}`)
                .author__column
                    span.author--name=photo.creator
                    span.author--location=photo.location.name
            if(loggedUser && loggedUser.id == photo.creatorId)
                .info__edit-photo
                    i.xi-ellipsis-h
                    ul.edit-photo__nav.jsHide
                        li.nav__list
                            a(href=`/photos/${photo.id}/edit`) EDIT
                        li.nav__list
                            a(href=`/photos/${photo.id}/delete`) DELETE
                        li.nav__list.jsCancelBtn
                            a CANCEL
        .photo-block__img
            .img__carousel-container
                #jsLikesOverlay
                    i.jsHide.xi-heart#jsLikedFalse
                a.carousel__img-list(data-url=photo.id)
                    each item in photo.fileUrl
                        img.carousel__photo(src=item, alt="Photo")
                i.carousel__prev-i.xi-arrow-left.carousel__btn-hide
                i.carousel__next-i.xi-arrow-right.carousel__btn-show
        .photo-block__description
            .description__column
                if loggedUser && photo.likes.includes(loggedUser._id)
                    i#jsTrueIndicator.xi-heart.jsShow.red
                    i#jsFalseIndicator.xi-heart-o.jsHide
                else
                    i#jsTrueIndicator.xi-heart.jsHide
                    i#jsFalseIndicator.xi-heart-o.jsShow
                .column__likes-number 좋아요 
                    span#jsLikesCount=photo.likes.length
                        | 개
            span.author--name=photo.creator
                span.description__content(data-photo-id=photo.id)#jsTruncate=photo.description
            a.description__comment-number
                i.comment-number(data-photo-id=photo.id)#jsCommentModal
                    if photo.comments.length === 0
                        span#jsCommentNumber
                    if photo.comments.length === 1
                        span#jsCommentNumber=`댓글 ${photo.comments.length}개 보기`
                    if photo.comments.length > 1
                        span#jsCommentNumber=`댓글 ${photo.comments.length}개 모두 보기`
            div#jsTimestamp=photo.createdAt
            ul.comment-list__fake-container
                if photo.comments.length <3
                    each item in photo.comments
                        +commentBlock({
                        creatorId: item.creatorId,
                            creatorName: item.creatorName,
                            text: item.text,
                            _id: item._id,
                            createdAt: item.createdAt
                        })
        .photo-block__form
            if loggedUser
                form.jsAddComment
                    input(type="text", placeholder="Add a Comment")