include commentBlock.pug

mixin photoBlock(photo = {})
    .photoBlock
        .photoBlock__info
            a.author-info(href=routes.userDetail(photo.creatorId))
                img.author-avatar(src=photo.avatarUrl)
                span.author-name=photo.creator
            if(photo.location)
                span.author-location=photo.location.name
            if(loggedUser && loggedUser.id == photo.creatorId)
                .drop-down#jsDropDown
                    i.xi-ellipsis-h.dropBtns
                    ul.drop-down-content#jsDropDownContent
                        li#jsDropDownList
                            a(href=`photos/${photo.id}/edit`) EDIT
                        li#jsDropDownList
                            a(href=`/photos/${photo.id}/delete`) DELETE
        .photoBlock__img
            .carousel__container
                #jsLikesOverlay
                    i.jsHide.xi-heart#jsLikedFalse
                a.carousel__img-list(data-url=photo.id)
                    each item in photo.fileUrl
                        img.carousel__photo(src=`../${item}`, alt="Photo")
                i.carousel__prev-i.xi-arrow-left.carousel__btn-hide
                i.carousel__next-i.xi-arrow-right.carousel__btn-show
        .photoBlock__description
            if loggedUser && photo.likes.includes(loggedUser._id)
                i#jsTrueIndicator.xi-heart.jsShow
                i#jsFalseIndicator.xi-heart-o.jsHide
            else
                i#jsTrueIndicator.xi-heart.jsHide
                i#jsFalseIndicator.xi-heart-o.jsShow
            span#jsLikesCount=photo.likes.length
            span.author-name=photo.creator
            span.photo-timestamp#jsTimestamp=photo.createdAt
            h6.photo-description=photo.description
        .photoBlock__input
            if loggedUser
                form.add-comment-form#jsAddComment
                    //- ERROR: SEARCH PAGE -//
                    img.author-avatar(src=loggedUser.avatarUrl.includes("http") ? loggedUser.avatarUrl : `../${loggedUser.avatarUrl}`)#jsAvatarElement
                    input(type="text", placeholder="Add a Comment")
        ul.photoBlock__coments-list#jsCommentList
            #jsFakeBlock.hide-element
                .commentBlock__column
                    a.commentBlock__link(href=routes.me)
                        img.author-avatar
                .commentBlock__column
                    .commentBlock__contents
                        span.author-name
                        span.text#jsCurrentComment.show-element
                    form.commentBlock__edit-form#jsEditCommentForm.hide-element
                        input(type="text")
                    if loggedUser && photo.comments
                        .commentBlock__icons
                            .comment-timestamp 방금 전
                            a(href="")#jsEditComment.show-element
                                span edit
                            a(href="")#jsDeleteComment.show-element
                                span delete
            each item in photo.comments.reverse()
                +commentBlock({
                    creatorId: item.creatorId,
                    creatorAvatar: item.creatorAvatar,
                    creatorName: item.creatorName,
                    text: item.text,
                    _id: item._id,
                    createdAt: item.createdAt
                })
        .info__comments-number
            if photo.comments.length === 1 || 0
                span.comments__comment-number#jsCommentNumber=photo.comments.length
                | comment
            else
                span.comments__comment-number#jsCommentNumber=photo.comments.length 
                | comments