include commentBlock.pug

mixin photoBlock(photo = {})
    .photoBlock
        a(href=routes.photoDetail(photo.id))
            img.photoBlock__img(src=photo.fileUrl, alt="img")
        .photoBlock__info
            span.author-name=photo.creator
            h6.photoBlock__description=photo.description
            .photo__comments
                if photo.comments.length === 1 || 0
                    span.photo__comment-number#jsCommentNumber=photo.comments.length
                    |comment
                else
                    span.photo__comment-number#jsCommentNumber=photo.comments.length 
                    |comments
        .photo-detail__input
            form.add__comment#jsAddComment
                img(src=user.avatarUrl.includes("http") ? user.avatarUrl : `../${user.avatarUrl}`)#jsAvatarElement
                input(type="text", placeholder="Add a Comment")
        ul.photo__coments-list#jsCommentList
            each item in photo.comments
                +commentBlock({
                    creatorId: item.creatorId,
                    creatorAvatar: item.creatorAvatar,
                    creatorName: item.creatorName,
                    text: item.text,
                    _id: item._id
                })